.oferta {
    background-color:#00446e;
    text-align: center;
    max-width: 80rem;
    margin:0 auto;
    padding: 2rem;
}

.precio{
    font-size: 6rem;
    margin: 0;
}
/* 
@media print{
    body{
        background-color: gray;
    }
} */

@media (max-width:600px) {
   .oferta{
     max-width: 30rem;
   }
   .precio {
    font-size: 2rem;
   }
}